@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1640834712136') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diantifanhuidingbu:before {
  content: "\3472";
}

.icon-xiangxia:before {
  content: "\f02a9";
}

.icon-shijian:before {
  content: "\f00f9";
}

.icon-lianjie:before {
  content: "\f010b";
}

.icon-shezhi:before {
  content: "\e62a";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-youxi:before {
  content: "\e643";
}

.icon-xiazai:before {
  content: "\e668";
}

.icon-tishi:before {
  content: "\e72b";
}

.icon-liuyan:before {
  content: "\e744";
}

.icon-xiangxia1:before {
  content: "\e771";
}

.icon-yule:before {
  content: "\e699";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-wenzhang:before {
  content: "\e624";
}

.icon-dizhi:before {
  content: "\e62b";
}

.icon-fenlei:before {
  content: "\e630";
}

.icon-chengyuan:before {
  content: "\e545";
}

.icon-yuechi:before {
  content: "\eae6";
}

.icon-guidang:before {
  content: "\e666";
}

.icon-renyuan:before {
  content: "\e645";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-pinglun:before {
  content: "\e602";
}

